body,html{
    background: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#container{
    width: auto;
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: url("blackJack.jpg");
    border-radius: 10%;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

#heading{
    font-family: 'Volkhov', serif;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 0px;
}

#content{
    font-family: 'Volkhov', serif;
    font-weight: 800;
    font-style: italic;
    color: white;
    
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 40px;
}

#cards{
    font-family: 'Volkhov', serif;
    font-weight: 900;
    color: white;
    font-size: 25px;
    margin-top: 5px;
}

#sum{
    font-family: 'Volkhov', serif;
    font-weight: 900;
    color: white;
    
    margin-top: 5px;
}

#start{
    background: goldenrod;
    color: green;
    font-family: 'Volkhov', serif;
    border: none;
    padding: 10px;
    font-weight: 800;
    
    cursor: pointer;
    width: 200px;
}


#new{
    background: goldenrod;
    color: green;
    font-family: 'Volkhov', serif;
    border: none;
    padding: 10px;
    font-weight: 800;
    
    cursor: pointer;
    margin-top: 10px;
    width: 200px;
    margin-bottom: 20px;
}